/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --button-background-color: rgb(207, 226, 226);
  --button-padding: 15px 30px;
  --button-border-radius: 4px;
  --main-background-color: rgb(247, 237, 224);
  --main-heading-font: "Playfair Display", serif;
  --main-heading-color: darkcyan;
  --secondary-font: "Poppins", sans-serif;
}
body {
  background: var(--main-background-color);
}
h1 {
  font-family: var(--main-heading-font);
  font-weight: bold;
  font-size: 44px !important;
  color: var(--main-heading-color);
  margin-top: -10px !important;
}

h2 {
  font-size: 15px !important;
  color: rgb(5, 36, 36);
  line-height: 1.5;
}

p {
  font-family: var(--secondary-font);
  font-weight: normal;
  margin: 0;
  line-height: 30px;
}
.hero {
  background-color: rgb(245, 242, 236);
  text-align: center;
  padding: 180px 0;
}
.backgroundColour {
  background-color: rgb(245, 242, 236);
  text-align: center;
  padding: 20px 0;
}
.coding {
  background-color: rgb(245, 242, 236);
  background-size: 100%;
  text-align: center;
  padding: 160px 0;
}
.about {
  background-size: 100%;
  text-align: left;
  padding: 100px 0 80px;
  margin-top: 20px;
  border-radius: 10px;
}

.welcome {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.welcome2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 30px 30px 50px 30px;
  font-size: 18px;
}
.welcome3 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 0px 30px 10px 30px;
  font-size: 18px;
}
.welcome4 {
  text-align: left;
  font-family: "Playfair Display", serif;
  margin: 10px 30px 0px 30px;
  font-size: 18px;
}
.welcome5 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 10px 30px 0px 30px;
  font-size: 18px;
}
#button1 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: 16px;
  line-height: 27px;
}

#button2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: var(--button-background-color);
  background-color: white;
  border-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: 16px;
  line-height: 27px;
  margin-top: -30px;
  margin-bottom: 30px;
}
#button2Return {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: var(--button-background-color);
  background-color: white;
  border-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: 16px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  display: flex;
  justify-content: center;
}
#buttonHome {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: 16px;
  line-height: 27px;
  margin-top: 40px;
}
#buttonContact {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background-color: var(--button-background-color);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: 16px;
  line-height: 27px;
  margin-top: 40px;
}
#button1:hover {
  color: darkcyan;
  border-color: darkcyan;
}
#button2:hover {
  color: darkcyan;
  border-color: darkcyan;
}
#buttonHome:hover {
  color: darkcyan;
  border-color: darkcyan;
}
#button2Return:hover {
  color: darkcyan;
  border-color: darkcyan;
}
#buttonContact:hover {
  color: darkcyan;
  border-color: darkcyan;
}
#secondaryHeading {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 70px;
}
#secondaryHeading2 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 0px;
}
#secondaryHeading3 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  margin-top: 20px;
}
#secondaryHeading4 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 40px;
}
#secondaryHeading5 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 110px;
}
#secondaryHeading6 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 100px;
}
#secondaryHeading8 {
  font-size: 30px !important;
  font-family: var(--secondary-font);
  padding-top: 100px;
}
.project-description {
  padding: 10px 10px;
}
#kimPups {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: flex;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  .secondaryHeading {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .coding {
    padding: 80px 20px;
  }
  #secondaryHeading6 {
    margin-top: -90px;
    font-size: 24px !important;
  }
  #secondaryHeading5 {
    margin-top: -140px;
    font-size: 24px !important;
  }
  #secondaryHeading {
    margin-top: -50px;
    font-size: 24px !important;
  }
  #secondaryHeading2 {
    margin-top: -30px;
    font-size: 24px !important;
  }
  #secondaryHeading3 {
    font-size: 30px !important;
    font-family: var(--secondary-font);
    margin-top: -30px;
  }
  #secondaryHeading4 {
    margin-top: -55px;
    font-size: 24px !important;
  }
  #secondaryHeading8 {
    margin-top: -30px;
    font-size: 24px !important;
  }
  .welcome3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border-radius: 0;

    margin-bottom: 10px;
  }
  .welcome4 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border-radius: 0;
    max-width: 100% !important;
  }
  .welcome5 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border-radius: 0;
    max-width: 100% !important;
  }
  #kimPups {
    margin-bottom: 50px;
    margin-top: -40px;
  }
  .about {
    text-align: center !important;
  }
  #heading1,
  #heading2,
  #heading3 {
    color: var(--main-heading-color);
    font-size: 30px !important;
  }
  #heading1 {
    padding-top: 40px;
  }
}
#heading1,
#heading2,
#heading3 {
  color: var(--main-heading-color);
  font-size: 35px;
}
#kaiah,
#sylus,
#tables,
#kimPups {
  border-radius: 10px;
}
#tables {
  margin-bottom: 30px;
}

.leaf {
}
